<div class="homeContainer">
<h1 class="w3-center w3-tangerine w3-shadow w3-jumbo">Welcome to Code Cafe</h1>
<h3 class="w3-center subHeading">Browse interesting repositories, solving all types of interesting problems.
</h3>

<div class="home-anim">
	<div class="home-anim-wrap">
		<div><code>-webkit-transform: translateZ(-100px) rotateY(45deg);</code></div>
		<div><code>-webkit-transform: translateZ(50px) rotateX(20deg);</code></div>
	</div>
</div>
<div class="w3-center">
<button class="w3-btn w3-teal w3-xlarge exploreBtn"><a href="./#/submission">Explore More</a></button>
<button class="w3-btn w3-teal w3-xlarge exploreBtn"><a href="./#/#features"> See Features <i class="fa fa-arrow-down" aria-hidden="true"></i></a></button>
</div>
<div class="exampleContainer" id="features">
<div class="exampleCode" hljs hljs-include="'./partials/features.html'">
</div>
</div>
</div>